<html>
<head>
	<link rel="stylesheet" type="text/css" href="StyleHome.css">
	<link rel="icon" href="Logo/MLOGO.png">
	<title> MohZaib Institutions </title>
</head>
<div class="headline">
	<ul>
		<li>
		<a href="Home.html"><img src="Logo/MZILONG.png"></a>	
	</li>
	<li>
		<h1> PCTB Class 9-10 </h1>
	</li>
	</ul>
</div>
<br>
<nav class="menu">
  <ul>
  	<li>
        <a href="home">HOME</a>
  	</li>
  	<li>
  		<a href="Eng.html">ENGLISH</a>
  	</li>
  	<li>
  		<a href="Urdu.html">URDU</a>
  	</li>
  	<li>
  		<a href="P.St.html">PAKISTAN STUDIES</a>
  	</li>
  	<li>
  		<a href="Isl.html">ISLAMIC STUDIES</a>
  	</li>
  	<li>
  		<a href="Math.html">MATHEMATICS</a>
  	</li>
  	<li>
  		<a href="Chem.html">CHEMISTRY</a>
  	</li>
  	<li>
  		<a href="Phy.html">PHYSICS</a>
  	</li>
  	<li>
  		<a href="Comp.html">COMPUTER SCIENCE</a>
  	</li>
  	<li>
  		<a href="Bio.html">BIOLOGY</a>
  	</li>
	</nav>
	<div class="heading">
		<h2>
			<b>
				<i>
					Way To Success
				</i> 
			</b>
		</h2>
		<ul>
			<li>READ</li>
			<li>WRITE</li>
			<li>LEARN</li>
			<li>IMPLEMENT</li>
			<li>TEACH</li>
			<li>MASTER</li>
		</ul>
	</div>
	<div class="heading">
		<h2>
			<b>
				<i>
					Our Mission
				</i>
			</b>
		</h2>
		<p>
			9th class is considered as the important stage in a student’s life as at this stage each aspirant has to choose the study group according to his/her field of interest. At this level students have two options from which they have to pick out the one. These two optional groups include Science and Arts.
		</p>
		<p>
			Those students who want to pursue their level degree in science subject and who are good at science usually chooses this group. On the other hand, the aspirants who are interested in arts usually choose arts group to study. It is important to mention here that the aspirant must choose the study group keeping in view his/her interest as afterwards they will not be able to change their group.
		</p>
		<p>
			In Science group, students have to study elective science subjects along with the compulsory subjects. The 9th class science subject elective subjects include Physics, Chemistry and biology. The elective subjects of 9th class arts group include Computer science, education, Islamic studies, civics and general science. The aspirants have to choose total three elective subjects from the abovementioned subjects. On the other hand the compulsory subjects are same for both groups. The compulsory subjects include English, Urdu, Mathematics and Islamiat.
		</p>
		<p>
			As we mentioned above that the aspirants chooses the subjects in 9th class by keeping in view their level of interest and the profession that they are desirous to join in future. If a student wishes to get admission in Pre-Medical after matriculation then he/she has get good marks in both 9th and 10th class. In 9th class the paper comprises of two sections which are objective and subjective and both sections plays a vital role. It is compulsory for the students to appear in board exams to clear 9th class.
		</p>
		<p>
			Board of intermediate and secondary education (BISE) is accountable to hold 9th class exams of the registered students studying in affiliated educational institutes and also studying private. The papers of all subjects both compulsory and elective in 9th class consist of two sections that are objective and subjective. The objective type paper consists of MCQs while subjective type paper consists of long and short questions.
		</p>
		<p>
			To clear the 9th class exams with good grades and it is really important for the students to pay proper attention to studies and for this purpose they have to attend the proper classes to understand the lectures given by the teachers exceptionally. In case if any student misses her/her lecture due to any reason then he/she don’t have any need to worry about it.
		</p>
		<p>
			As MohZaib Institution is helping you in every possible way regarding education so keeping in view the difficulties of 9th class students we have uploaded here complete range of online lectures of all 9th class subjects given by the best teachers. You can view these online tutorials as many times as you want. These online lectures of 9th class will help you in understanding the chapters of the specific subjects easily. The students who wish to get help from these online lectures by MohZaib Institutions are only required to choose the subject of which they want to get the online tutorial. It will definitely help you in every possible way.
		</p>
	</div>
	<div class="sub">
            <h3>9th Class Subjects</h3>
            <ul class="class-view-lectures">
            		<li>
                        <a href="Phy.html">
                            <div class="icon">
                                <i>
                                    <img height="100" width="200" src="https://old.instutor.com/Images/SubjectImages/9th-ph.jpg" alt="subject name">
                                </i>
                            </div>
                            <p>Physics</p>
                        </a>
                    </li>
                    <li>
                        <a href="Math.html">
                            <div class="icon">
                                <i>
                                    <img height="100" width="200" src="https://old.instutor.com/Images/SubjectImages/9th-mt.jpg" alt="subject name">
                                </i>
                            </div>
                            <p>Mathematics</p>
                        </a>
                    </li>
                    <li>
                        <a href="Bio.html">
                            <div class="icon">
                                <i>
                                    <img height="100" width="200" src="https://old.instutor.com/Images/SubjectImages/9th-bio.jpg" alt="subject name">
                                </i>
                            </div>
                            <p>Biology</p>
                        </a>
                    </li>
                    <li>
                        <a href="Comp.html">
                            <div class="icon">
                                <i>
                                    <img height="100" width="200" src="https://old.instutor.com/Images/SubjectImages/9th-com.jpg" alt="subject name">
                                </i>
                            </div>
                            <p>Computer Science</p>
                        </a>
                    </li>
                    <li>
                        <a href="Chem.html">
                            <div class="icon">
                                <i>
                                    <img height="100" width="200" src="https://old.instutor.com/Images/SubjectImages/9th-ch.jpg" alt="subject name">
                                </i>
                            </div>
                            <p>Chemistry</p>
                        </a>
                    </li>
                    <li>
                        <a href="Eng.html">
                            <div class="icon">
                                <i>
                                    <img height="100" width="200" src="https://old.instutor.com/Images/SubjectImages/9th-en.jpg" alt="subject name">
                                </i>
                            </div>
                            <p>English </p>
                        </a>
                    </li>
            		<li>
                        <a href="Isl.html">
                            <div class="icon">
                                <i>
                                    <img height="100" width="200" src="https://old.instutor.com/Images/SubjectImages/9th Class Islamiat.JPG" alt="subject name">
                                </i>
                            </div>
                            <p>Islamiyat</p>
                        </a>
                    </li>
                    <li>
                        <a href="Math.html">
                            <div class="icon">
                                <i>
                                    <img height="100" width="200" src="https://old.instutor.com/Images/SubjectImages/9th Class General Math.jpg" alt="subject name">
                                </i>
                            </div>
                            <p>General Mathematics</p>
                        </a>
                    </li>
                </ul>
       		</div>
	<div>
		<marquee>
			<a href="https://www.google.com/">Search Us On Google</a>
		</marquee>
	</div>
</body>
</html>
